export(download_zip)
export(list_projects)
export(login)
export(run_models)
export(run_update)
export(validate_models)
importFrom(caTools,base64encode)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,insensitive)
importFrom(httr,status_code)
importFrom(httr,timeout)
importFrom(httr,use_proxy)
importFrom(httr,write_disk)
importFrom(jsonlite,base64_enc)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
importFrom(remotes,install_github)
importFrom(utils,packageVersion)
importFrom(utils,str)
